<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-assertive" align-title="center">
        <h1 class="title">{{ 'NewAbsenceTitle' | translate }}</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()"><i class="ion-android-close"></i></button>
    </ion-header-bar>
    <ion-content class="padding">

        <form ng-submit="addAbsences(datetimeValueDeb, datetimeValueFin, motfifAbsenceValue)">

            <div class="list">
                <div class="item item-icon-left" ion-datetime-picker="" ng-model="datetimeValueDeb">
                    <i class="icon ion-ios-calendar-outline assertive"></i>
                    {{ 'StartDate' | translate }}
                    <strong class="ng-binding">{{datetimeValueDeb| date: "dd-MM-yy H:mm"}}</strong>
                </div>

                <div class="item item-icon-left" ion-datetime-picker="" ng-model="datetimeValueFin">
                    <i class="icon ion-ios-calendar-outline assertive"></i>
                    {{ 'EndDate' | translate }}
                    <strong class="ng-binding">{{datetimeValueFin| date: "dd-MM-yy H:mm"}}</strong>
                </div>

                <div class="item item-icon-left">
                    <i class="icon ion-ios-paperplane-outline assertive"></i>
                    {{ 'Reason' | translate }}
                    <input placeholder="{{ 'AbsenceReasonExample' | translate }}" type="text" name="motifAbsence" ng-model="motfifAbsenceValue" required>
                </div>
            </div>
        
            <button  style="height:10%;" class="button button-full button-assertive" type="submit">
                {{ 'Add' | translate }}
            </button>

        </form>

    </ion-content>
</ion-modal-view>